* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
}
.layar-dalam {
  width: 1000px;
  margin: auto;
}
.layar-penuh {
  width: 100%;
}
nav {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: fixed;
  line-height: 60px;
  width: 100%;
  transition: background-color 0.5s ease;
}
nav .menu {
  float: right;
  height: 60px;
  max-width: 600px;
}
nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav .menu ul li {
  float: left;
  line-height: 60px;
}
nav ul li a {
  color: #fff;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif;
  background-color: transparent;
  border-radius: 999px;
  transition: background-color 0.3s ease, padding 0.3s ease;
}
nav ul li a:hover {
  background-color: #E67E22;
  padding: 10px 30px;
}
header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
header video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
}
header .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  width: 90%;
}
header .intro h3 {
  font-size: 300%;
  margin: 0;
  padding: 0;
}
.tombol {
  background-color: #E67E22;
  height: 40px;
  line-height: 42px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 0px 30px;
  font-size: 15px;
  border-radius: 999px;
  font-weight: bold;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 50%;
  z-index: -1;
}

footer {
  padding: 50px 0px;
  background-color: #E67E22;
  color: #fff;
}
footer .layar-dalam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .layar-dalam .copyright {
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ffffff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header .intro h3 {
    font-size: 200%;
  }
  header .intro p {
    font-size: 14px;
  }
}

@media screen and (max-width: 991.98px) {
  .layar-dalam {
    width: 90%;
  }
  nav .menu ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: static;
    margin: 0;
    padding: 0;
  }
  nav .menu ul li {
    width: auto;
    border: none;
    background: transparent;
  }
  nav .menu ul li a {
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
  }
}

.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}
.annie-use-your-telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}
.lexend-deca-regular {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-style: normal;
}