* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
.layar-dalam {
  width: 1000px;
  margin: auto;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
}

.judul-content {
  position: relative;
  z-index: 1;
}

nav {
  display: flex;
  z-index: 100;
  color: #fff;
  text-align: center;
  position: fixed;
  line-height: 60px;
  width: 100%;
  transition: background-color 0.5s ease;
}
nav .menu {
  float: right;
  height: 60px;
  max-width: 600px;
  justify-content: space-between;
  align-items: center;
}
nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
nav .menu ul li {
  float: left;
  line-height: 60px;
}
nav ul li a {
  color: #fff;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif;
  background-color: transparent;
  border-radius: 999px;
  transition: background-color 0.3s ease, padding 0.3s ease;
}
nav ul li a:hover {
  background-color: #E67E22;
  padding: 10px 30px;
}

.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}
.profile-title {
  font-size: 50px;
}
.profile-subtitle {
  font-size: 20px;
  color: #eeffdb;
}
.annie-use-your-telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}
.lexend-deca-regular {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.judul1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.judul2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  text-align: center;
  color: #fff;
  overflow: hidden;
  background-color: #525524;
}

.judul1 h1 {
  font-size: 500%;
}

.judul2 h1 {
  font-size: 250%;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 100px 50px;
  background-color: #a08957;
  background-image: url(http://www.transparenttextures.com/patterns/cartographer.png);
}
.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  max-width: 100%;
  height: 320px;
  background-color: white;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  border-radius: 10px;
}
.container .card .img-box {
  position: absolute;
  top: 20px;
  width: 350px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s;
}
.container .card:hover {
  height: 400px;
}
.container .card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.container .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card .content {
  position: absolute;
  top: 265px;
  width: 100%;
  height: 50px;
  padding: 0 50px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  max-width: 80%;
  margin: 0 auto; 
}
.container .card:hover .content {
  top: 130px;
  height: 250px;
}
.container .card .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0b4400;
}
.container .card .content p {
  color: #333;
  margin-top: 10px;
}
.container .card .content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background-color: #009688;
  text-decoration: none;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}
.container .card .content a:hover {
  opacity: 0.8;
}

footer {
  padding: 50px 0;
  background-color: #E67E22;
  color: #fff;
}
footer .layar-dalam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .layar-dalam .copyright {
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ffffff;
  text-align: center;
}

@media screen and (max-width: 991.98px) {
  .layar-dalam {
    width: 90%;
  }
  nav .menu ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: static;
    margin: 0;
    padding: 0;
  }
  nav .menu ul li {
    width: auto;
    border: none;
    background: transparent;
  }
  nav .menu ul li a {
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
  }
}